[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/haskell-mode"]
	path = bundle/haskell-mode
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/latex-suite"]
	path = bundle/latex-suite
	url = git://github.com/gerw/vim-latex-suite.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/yank-ring"]
	path = bundle/yank-ring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/a"]
	path = bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/yesod-template-syntax"]
	path = bundle/yesod-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = git://github.com/yurifury/hexHighlight.git
[submodule "bundle/syntax-slim-conf"]
	path = bundle/syntax-slim-conf
	url = git://github.com/bbommarito/vim-slim.git
[submodule "bundle/haskell-conceal"]
	path = bundle/haskell-conceal
	url = git://github.com/Twinside/vim-haskellConceal.git
